@using LFYS_Project.Models;
@using Microsoft.EntityFrameworkCore;
@{
    WlfysProjContext _context = new WlfysProjContext();
    var exercises = _context.Exercises.ToList();
    var docs = _context.Documents.ToList();
    var courses = _context.Courses.ToList();
    var users = _context.AspNetUsers.ToList();
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3 text-center w-100 " style="color : red">Trang quản trị L-FYS</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bài tập</h4>
                        <div>
                            <a class="btn btn-info" href="~/Exercise/Upload">Thêm bài tập</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tên bài</th>
                                        <th>Dạng bài</th>
                                        <th>AC</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tên bài</th>
                                        <th>Dạng bài</th>
                                        <th>AC</th>
                                        <th>Hành động</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{

                                        foreach (var exercise in exercises)
                                        {
                                            string catResult = "";
                                            var catOfExs = _context.CategoryExercises.Where(c => c.ExerciseId == exercise.ExerciseId).ToList();
                                            if (catOfExs.Count() > 0)
                                            {
                                                catResult += _context.CategoryOfExercises.Find(catOfExs[0].CategoryId).CoeName;
                                                for (int i = 1; i < catOfExs.Count(); i++)
                                                    catResult += ", " + _context.CategoryOfExercises.Find(catOfExs[i].CategoryId).CoeName;
                                            }
                                            <tr>
                                                <td><a href="~/Exercise/Detail/@exercise.ExerciseId">@exercise.ExerciseId</a></td>
                                                <td><a href="~/Exercise/Detail/@exercise.ExerciseId">@exercise.Title</a></td>
                                                <td>@catResult</td>
                                                <td>@exercise.Ac</td>
                                                <td>Done</td>
                                                <td class="d-flex justify-content-center">
                                                    <button class="btn btn-outline-danger"><i class="fa fa-heart" onclick=""></i><a href="~/Exercise/Update/@exercise.ExerciseId">Update</a></button>
                                                    <button class="btn btn-outline-danger"><i class="fa fa-heart"></i>Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tài liệu</h4>
                        <div>
                            <a class="btn btn-info" href="~/Document/Upload">Thêm tài liệu</a>
                            <a class="btn btn-info" href="~/Document/AddFile">Thêm bài học</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Created at</th>
                                        <th>Updated at</th>
                                        <th>User</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Created at</th>
                                        <th>Updated at</th>
                                        <th>User</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                    @foreach (var document in docs)
                                    {
                                        <tr>
                                            <td>@document.DocumentId</td>
                                            <td>@document.Title</td>
                                            <td>@_context.Categories.Find(document.CategoryId).CategoryName</td>
                                            <td>@document.CreatedAt</td>
                                            <td>@document.UpdatedAt</td>
                                            <td>@users.Where(u => u.Id == document.UserId).Select(u => u.Name).ToList()[0]</td>
                                            <td class="d-flex justify-content-center align-items-center">
                                                <button class="btn btn-outline-danger"><i class="fa fa-heart"></i><a href="~/Document/Update/@document.DocumentId">Update</a></button>
                                                <button class="btn btn-outline-danger"><i class="fa fa-heart"></i>Delete</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Người dùng</h4>
                            <button class="btn btn-primary btn-round ms-auto"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Thêm người dùng
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade"
                             id="addRowModal"
                             tabindex="-1"
                             role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold"> New</span>
                                            <span class="fw-light"> Row </span>
                                        </h5>
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="small">
                                            Create a new row using this form, make sure you
                                            fill them all
                                        </p>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Name</label>
                                                        <input id="addName"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pe-0">
                                                    <div class="form-group form-group-default">
                                                        <label>Position</label>
                                                        <input id="addPosition"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill position" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Office</label>
                                                        <input id="addOffice"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill office" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button"
                                                id="addRowButton"
                                                class="btn btn-primary">
                                            Add
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="add-row"
                                   class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{
                                        foreach (var user in users)
                                        {
                                            <tr>
                                                <td>@user.Id</td>
                                                <td>@user.Name</td>
                                                <td>@user.Address</td>
                                                <td>@user.UserName</td>
                                                <th>@user.Email</th>
                                                <td class="d-flex justify-content-center align-items-center">
                                                    <button class="btn btn-outline-danger"><i class="fa fa-heart"></i>Update</button>
                                                    <button class="btn btn-outline-danger"><i class="fa fa-heart"></i>Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>